@CHARSET "windows-1255";

.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }

.intro {
	text-align: center;
}
table {
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table th {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
table td {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
.colorDesc {
	padding-right: 20px;
	text-shadow: 1px 1px 1px BLACK;
	font-weight: bold;
	font-size: 24px;
	font-family: arial;
}

.directionDesc {
	color: gray;
}

.colorLetter {
	color: black;
	font-style: italic;
}

#word {
	text-align: center
}

#output {
	border: 1px solid black;
	height: 200px;
	overflow-y: scroll;
	padding: 3px;
}

#panding {
	color: white;
	text-align: center;
	font-size: 100px;
	display: none;
}

#content {
	display: none;
}

#instruction {
	text-align: center;
}

#options {
	text-align: center;
	padding-bottom: 20px;
}

#instrcutionContainer {
	display: none;
}

#output {
	display:none;
}